@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 59.38em) {
    html {
      font-size: 60%; } }

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to left top, rgba(11, 60, 93, 0.4), rgba(50, 140, 193, 0.4)), url(../images/background-small.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media only screen and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 18.75em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 18.75em) {
    body {
      background-image: linear-gradient(to left top, rgba(11, 60, 93, 0.4), rgba(50, 140, 193, 0.4)), url(../images/background-medium.jpg); } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 75em) {
    body {
      background-image: linear-gradient(to left top, rgba(11, 60, 93, 0.4), rgba(50, 140, 193, 0.4)), url(../images/background-large.jpg); } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 75em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 75em), only screen and (min-width: 150em) {
    body {
      background-image: linear-gradient(to left top, rgba(11, 60, 93, 0.4), rgba(50, 140, 193, 0.4)), url(../images/background.jpg); } }

::selection {
  background-color: #F79E02;
  color: #fff; }

.checkbox {
  display: none; }

.search {
  display: flex;
  align-items: center; }
  .search__icon {
    font-size: 2rem;
    color: #D6D9DB;
    transform: translateX(-3.5rem); }
  .search__input {
    padding: 1rem;
    text-align: center;
    border-radius: 2.5rem;
    border: none;
    outline: none; }
  .search__input:focus {
    border: 2px solid #F79E02; }

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s; }
  .button__add, .button__close {
    color: #fff; }
    .button__add:hover, .button__close:hover {
      color: #F79E02; }
  .button__add {
    font-size: 2rem; }
  .button__close {
    font-size: 3rem;
    position: absolute;
    top: 1.5rem;
    right: 2rem; }
    .button__close:hover {
      color: #F79E02; }
  .button__check {
    color: #F79E02;
    font-size: 2.5rem;
    padding-right: .5rem; }
  .button__previous {
    color: #328CC1;
    font-size: 3rem; }
    .button__previous:hover {
      color: #F79E02; }
  .button__next {
    color: #328CC1;
    font-size: 3rem; }
    .button__next:hover {
      color: #F79E02; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #328CC1; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0B3C5D; }

.container {
  padding: 3rem 4rem;
  top: 0; }
  @media only screen and (max-width: 68.75em) {
    .container {
      padding: 2rem 2rem;
      padding-bottom: 3rem; } }
  @media only screen and (max-width: 59.38em) {
    .container {
      padding: 1.5rem 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      padding: 1.5rem 2rem; } }

.header {
  font-family: 'Rammetto One', cursive;
  padding-bottom: 2rem;
  color: #0B3C5D;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 59.38em) {
    .header {
      flex-direction: column;
      text-align: center; } }

.sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 59.38em) {
    .sections {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .sections {
      grid-template-columns: 1fr; } }

.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(29, 39, 49, 0.8); }
  .popup__bg {
    color: #0B3C5D;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .5rem;
    width: 90%;
    height: 90%;
    transform: translate(5%, 5%); }
  .popup__header {
    height: 9rem;
    border-bottom: 3px solid #328CC1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #328CC1; }
  .popup__icons {
    margin: 2rem auto;
    width: 95%;
    height: calc(100% - 13rem);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    transition: all .2s; }

.hide {
  visibility: hidden;
  animation: fadeIn 1s; }

.section {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: .5rem;
  padding-bottom: 1.5rem; }
  .section:first-child .section__title {
    border-bottom: 0.3rem solid #328CC1; }
  .section__title {
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    line-height: 1;
    color: #328CC1;
    margin: 0 auto;
    width: 95%; }
    .section__title--arrows {
      display: flex;
      margin: 0 1.5rem; }
  .section__content {
    display: grid;
    grid-template-rows: auto; }
  .section__item--title {
    background-color: #328CC1;
    color: #fff;
    padding: .7rem 2rem;
    display: flex;
    justify-content: space-between; }
  .section__item--content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .5rem 0; }
  .section__item--goal {
    display: flex;
    align-items: center;
    padding: .2rem 1.5rem; }

.skills__icons {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  color: #0B3C5D; }

.skills__icon {
  font-size: 6rem;
  margin: .7rem;
  padding: .8rem;
  background-color: #fff;
  border-radius: .5rem;
  align-self: flex-start;
  cursor: pointer; }

.skills__icon-add {
  width: 8rem;
  color: #F79E02; }

.skills__icon-add:hover {
  color: rgba(247, 158, 2, 0.7); }

.header-1 {
  font-size: 3.5rem; }
  @media only screen and (max-width: 59.38em) {
    .header-1 {
      font-size: 3rem; } }

.header-2 {
  font-size: 2.5rem; }

.header-3 {
  font-size: 1.8rem; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 100; }
