*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #0074E1;
  font-family: 'Roboto', sans-serif; }

.title {
  font-family: 'Pacifico', cursive; }
