// VARIABLES
// colors

// $color-6: #EDEAE5;
$color-white: #fff;


//COLOR PALETTE 1 - Vivid Blues and Orange
// #10E7DC
// #0074E1
// #1B9CE5
// #6CDAEE
// #F79E02

//COLOR PALETTE 2 - Lively Yet Soothing
// #026670
// #9FEDD7
// #FEF9C7
// #FCE181
// #EDEAE5

//COLOR PALETTE 3 - Elegant and Sophisticated
$color-1:#0B3C5D;
$color-2: #328CC1;
$color-3:#F79E02;
$color-4:#1D2731;



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;    //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: 'Roboto', sans-serif;
  
}

.bg-image {
  height: 100vh; 
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

::selection {
  background-color: $color-3;
  color: $color-white;
}