.container {
  padding: 3rem 2rem;
  position: absolute;
  height: 100%;
  z-index: 2;
  top: 0;
}

.header {
  font-family: 'Rammetto One', cursive;
  padding-bottom: 2rem;
  color: $color-1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // height: 83%;
  grid-gap: 2rem;
}
