// VARIABLES
// colors

$color-white: #fff;

$color-1:rgb(11, 60, 93);
$color-2: rgb(50, 140, 193);
$color-3:rgb(247, 158, 2);
$color-4:rgb(29, 39, 49);
$color-5:rgb(249, 187, 77);
$color-6: rgb(0, 32, 68);
$color-7: rgb(220, 235, 252);
$color-red: rgb(255, 80, 73);

// BREAKPOINTS
$bp-largest: 75em;    //1200px/16px=75em | bp = breakpoint
$bp-large: 68.75em;    //1100px
$bp-medium: 59.38em;    //950px
$bp-small: 37.5em;    //600px
$bp-smallest: 31.25em;    //500px


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;    //1 rem = 10px; 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 60%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, rgba($color-6, 0.9), rgba($color-2, 0.9)),url(../images/background2-small.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media only screen and (min-width: $bp-small),
         only screen and (min-resolution: 192dpi) and (min-width: 18.75em),
         only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 18.75em) {
          background-image: linear-gradient(to right top, rgba($color-6, 0.9), rgba($color-2, 0.9)),url(../images/background2-medium.jpg);
  }
  
  @media only screen and (min-resolution: 192dpi) and (min-width: $bp-small),
         only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $bp-small),
         only screen and (min-width: $bp-largest) {
          background-image: linear-gradient(to right top, rgba($color-6, 0.9), rgba($color-2, 0.9)),url(../images/background2-large.jpg);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: $bp-largest),
         only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $bp-largest),
         only screen and (min-width: 150em) {
          background-image: linear-gradient(to right top, rgba($color-6, 0.9), rgba($color-2, 0.9)),url(../images/background2.jpg);
  }
}

::selection {
  background-color: $color-3;
  color: $color-white;
}