.container {
  position: relative;
  margin-top: 6rem;
  padding: 3rem 4rem;
  top: 0;

  @media only screen and (max-width: $bp-large) {
    padding: 2rem 2rem;
    padding-bottom: 3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem 3.5rem;
    margin-top: 8rem;
  }
 
  @media only screen and (max-width: $bp-small) {
    padding: 1.5rem 2rem;
  }
}

.header {
  font-family: 'Lemon', cursive;
  color:$color-7;
  
  background-color: rgba($color-6, 0.5);
  z-index: 5000;

  position: fixed;
  overflow: hidden;
  top:0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    padding-left: 1.5rem;
  }
  
  &__right {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__date {
    padding: 1.5rem;
  }

  &__icon {
    padding: 1.5rem;
    cursor: pointer;
    
    &:hover {
      color: $color-7;
      background-color: $color-5;
    }
  }

  &__user {
    position: relative;
    display: inline-block;

    &--form {
      display: none;
      font-family: 'Roboto', sans-serif;
      color: $color-white;
      font-size: 1.5rem;
      position: fixed;
      background-color: $color-1;
      padding: 3rem;
      transform: translateY(1.5rem);
      right: 0;


      & label:not(:first-child) {
        margin-top: 1.5rem;
      }

      & > *:not(:last-child) {
        padding: 1rem;
      }
    }

    &:hover &--form,
    &:active &--form,
    &:focus &--form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.app-title {
  @media only screen and (max-width: 550px) {
    display: none;
  }
}

.sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }
 
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}
