.container {
  position: relative;
  margin-top: 6rem;
  padding: 3rem 4rem;
  top: 0;

  @media only screen and (max-width: $bp-large) {
    padding: 2rem 2rem;
    padding-bottom: 3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem 3.5rem;
    margin-top: 8rem;
  }
 
  @media only screen and (max-width: $bp-small) {
    padding: 1.5rem 2rem;
  }
}

.header {
  font-family: 'Lemon', cursive;
  padding: 1rem 2rem;
  color:$color-7;
  
  background-color: rgba($color-6, 0.5);
  z-index: 5000;

  position: fixed;
  overflow: hidden;
  top:0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__date {
    padding-left: 1.5rem;
  }
}

.app-title {
  @media only screen and (max-width: 550px) {
    display: none;
  }
}

.sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }
 
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}
