.container {
  padding: 3rem 4rem;
  top: 0;

  @media only screen and (max-width: $bp-large) {
    padding: 2rem 2rem;
    padding-bottom: 3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem 3.5rem;
  }
 
  @media only screen and (max-width: $bp-small) {
    padding: 1.5rem 2rem;
  }
}

.header {
  font-family: 'Rammetto One', cursive;
  padding-bottom: 2rem;
  color: $color-1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    text-align: center;
  }
}

.sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }
 
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}
