.app-title {
  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}


.nav {
  font-family: 'Lemon', cursive;
  color:$color-7;
  
  background-color: rgba($color-6, 0.5);
  z-index: 5000;

  position: fixed;
  overflow: hidden;
  top:0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    padding-left: 1.5rem;
  }
  
  &__right {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__date {
    padding: 1.5rem;
    
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__icon {
    padding: 1.5rem;
    cursor: pointer;
    
    &:hover {
      color: $color-7;
      background-color: $color-5;
    }
  }

  &__user {
    position: relative;
    display: inline-block;

    &--form {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      font-family: 'Roboto', sans-serif;
      color: $color-white;
      font-size: 1.8rem;
      position: fixed;
      background-color: $color-1;
      padding-top: 3rem;
      padding-bottom: 3rem;
      transform: translateY(1.5rem);
      right: 0;

      & input {
        outline: none;
        transition: all .3s;
        margin: .5rem 3rem;
        padding: .8rem;

        &[type='submit'] {
          margin-top: 1.5rem;
          padding: .8rem 1.4rem;
        }

        & :not([type='submit']) {
          border-bottom: 3px solid transparent;
        }

        &:active:not([type='submit']),
        &:focus:not([type='submit']) {
          border-bottom: 3px solid $color-red;
        }
      }


      & label:not(:first-child) {
        margin-top: 1.5rem;
      }

      & > *:not(:last-child) {
        padding-left: 3rem;
        padding-right: 3rem;

      }
    }

    // &:hover &--form,
    // &:active &--form,
    // &:focus &--form{
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    // }
  }
}

.user-account {
  display: flex;
  align-items: center; 
  padding: 1.5rem 0;

  &__icon {
    padding-right: 1.5rem;
    font-size: 4rem;
  }

  &:hover {
    background-color: rgba($color-2, 0.5);
  }
}

.user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & :first-child {
    padding-bottom: .5rem;
  }
}

.register-link {
  margin-top: 1rem;
  color: $color-2;

  &:hover {
    color: $color-white;
  }
}

.logged-in::after {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  transform: translate(-.7rem, 0);
  position: absolute;
  background-color: rgb(0, 185, 0);
}



