.skills {
  &__icons {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    color: $color-1;
  }

  &__icon {
    font-size: 5rem;
    margin: .5rem;
    padding: .5rem;
    background-color: $color-white;
    border-radius: .5rem;
    align-self: flex-start;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      transform: scale(1.1,1.1);
      box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.5);
    }
  }

  &__icon-add {
   color: $color-3;
  }

  &__icon-add:hover {
    color: rgba($color-3, .7);
  }

}

.selected-icon {
  background-color: $color-3;
  color: $color-white;
}