.header-1 {
  font-size: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 3rem;
  }
}

.header-2 {
  font-size: 2.5rem;
}

.header-3 {
  font-size: 1.8rem;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 100;
}